<%= form_with(model: local_assigns[:model], url: local_assigns[:url], local: true) do |form| %>
  <table class="table">
    <tbody>
    <% local_assigns[:fields].each do |field, details| %>
      <% type = details[:type] %>
      <tr>
        <th><%= field.to_s.humanize %></th>
        <td>
          <% case type %>
          <% when :text_field %>
            <%= form.text_field field, value: local_assigns[:model].send(field), class: 'form-control' %>
          <% when :collection_select %>
            <%= form.collection_select field, local_assigns[field], :id, :name, { selected: local_assigns[:model].send(field) }, class: 'form-control' %>
          <% when :select %>
            <% options = details[:options] || local_assigns[field] %>
            <%= form.select field, options, { selected: local_assigns[:model].send(field) }, class: 'form-control' %>
          <% when :checkbox %>
            <% options = details[:options] || local_assigns[field] %>
            <% options.each do |option| %>
              <%= form.check_box field, { multiple: true, class: 'form-control' }, option.id, nil %>
              <%= option.label %>
            <% end %>
          <% when :url_field %>
            <%= form.url_field field, value: local_assigns[:model].send(field), class: 'form-control' %>
          <% else %>
            <%= form.send(type, field, value: local_assigns[:model].send(field), class: 'form-control') %>
          <% end %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <%= form.button 'Save Changes', class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-1" %>
<% end %>