<div class="p-4 table">

  <h1 class="text-2xl">Edit Product: <%= @product.name %></h1>

  <%= form_with(model: [:admin, @product], local: true) do |form| %>
    <table class="table">
      <tbody>
      <tr>
        <th>Name</th>
        <td><%= form.text_field :name, class: 'form-control' %></td>
      </tr>
      <tr>
        <th>Brand</th>
        <td><%= form.collection_select :brand_id, Brand.all, :id, :name, {}, class: 'form-control' %></td>
      </tr>
      <tr>
        <th>Type</th>
        <td><%= form.select :productable_type, ['Stroller', 'Seat', 'Adapter'], {}, class: 'form-control' %></td>
      </tr>
      <tr>
        <th>Link</th>
        <td class="flex items-center">
          <%= form.url_field :link, class: 'form-control w-full' %>
          <a class="p-2 m-2 rounded-full bg-gray-200 text-gray-800 w-8 h-8 flex items-center justify-center hover:bg-gray-300 cursor-pointer"
             target="_blank"
             href="<%= @product.link %>"
          >
            <i class="fa-solid fa-globe"></i>
          </a>
          <%= render CheckLink::ShowComponent.new(
            productId: @product.slug,
            checkLinkPath: check_link_admin_products_path,
            updateProductURL: admin_product_url(@product),
          ) %>
        </td>
      </tr>
      <% unless @product.image.nil? %>
        <tr>
          <th>Image Preview</th>
          <td><%= image_tag @product.image.url, class: 'rounded', size: "200x200" %></td>
        </tr>
        <tr>
          <th>Image URL</th>
          <td><%= form.url_field :image_url, value: @product.image&.url, class: 'form-control w-full' %></td>
        </tr>
        <tr>
          <th>Image Alt Text</th>
          <td><%= form.text_field :image_alt_text, value: @product.image&.alt_text, class: 'form-control' %></td>
        </tr>
        <tr>
          <th>Image Attribution URL</th>
          <td><%= form.url_field :image_attribution_url, value: @product.image&.attribution_url, class: 'form-control' %></td>
        </tr>
        <tr>
          <th>Image Attribution Text</th>
          <td><%= form.text_field :image_attribution_text, value: @product.image&.attribution_text, class: 'form-control' %></td>
        </tr>
      <% end %>
      </tbody>
    </table>

    <%= render :partial => 'shared/button', :locals => { :link => admin_product_path(@product), :text => 'Update Product', :method => :post } %>
  <% end %>
  <% if @product.image.nil? %>
    <div class="py-2">
      <%= render :partial => 'shared/button', :locals => { :link => generate_admin_product_images_path(@product), :text => 'Generate Image', :method => :post } %>
    </div>
  <% else %>
    <%= button_to 'Delete Image',
                  admin_product_image_path(@product),
                  method: :delete,
                  form: { data: { turbo: true, turbo_confirm: 'are you sure?', turbo_method: :delete } },
                  class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mx-1"
    %>
  <% end %>
  <div class="py-2">
    <%= render :partial => 'shared/button', :locals => { :link => admin_products_path, :text => 'Back to Products', :secondary => true } %>
  </div>
  <p class="italic text-gray-700 text-sm">hint: you can use ctrl+opt+n and ctrl+opt+p to navigate</p>
  <div class="py-2 flex">
    <% if @previous_product %>
      <div class="">
        <%= render :partial => 'shared/button',
                   :locals => { :link => edit_admin_product_path(@previous_product),
                                :text => 'prev',
                                :accesskey => 'p',
                   }
        %>
      </div>
    <% end %>
    <% if @next_product %>
      <div class="px-2">
        <%= render :partial => 'shared/button',
                   :locals => { :link => edit_admin_product_path(@next_product),
                                :text => 'next',
                                :accesskey => 'n',
                   }
        %>
      </div>
    <% end %>
  </div>
</div>