<div class="w-full">
  <div class="p-4">
    <h1 class="font-bold text-4xl">Import Products</h1>
    <div class="flex flex-row">
      <%= render partial: 'admin/shared/file_upload_form', locals: { url: import_admin_products_path, id: 'import-products' } %>
      <%= link_to "Export Products To CSV", export_admin_products_path,
                  class: "bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded mx-1"
      %>
      <%= link_to "Export Compatibility To CSV", export_compatible_admin_products_path,
                  class: "bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded mx-1"
      %>
      <%= link_to "Export Tags To CSV", export_tags_admin_products_path,
                  class: "bg-yellow-500 hover:bg-yellow-700 text-white font-bold py-2 px-4 rounded mx-1"
      %>
    </div>
  </div>

  <form action="<%= admin_products_path %>" method="get" class="mb-4">
    <div data-controller="toggle-visibility" class="flex flex-col md:flex-row">
      <div class="m-2 text-gray-500">
        <button data-action="click->toggle-visibility#toggle" type="button">
          <i class="fa-solid fa-filter"></i>
          <span class="inline">filters</span>
        </button>
      </div>
      <div data-toggle-visibility-target="element"
           class="hidden flex flex-wrap flex-col items-start md:flex-row md:items-center "
      >
        <div class="mr-2">
          <input type="text" name="search" placeholder="Search products" class="px-2 py-1 border rounded">
        </div>
        <div class="mr-2">
          <%= render partial: 'shared/query_param_filter_select', locals: {
            name: 'type',
            param: :type,
            options: ['Seat', 'Stroller', 'Adapter'],
            label_text: 'Type'
          } %>
        </div>
        <div class="mr-2">
          <%= render partial: 'shared/query_param_filter_select', locals: {
            name: 'brand',
            param: :brand,
            options: @brands.map { |brand| brand.name },
            label_text: 'Brand'
          } %>
        </div>
        <div class="mr-2">
          <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-1 px-4 rounded">
            Search
          </button>
        </div>
      </div>
    </div>
  </form>
  <table class="table w-full">
    <thead>
    <tr>
      <th>ID</th>
      <th>Slug</th>
      <th>Name</th>
      <th>Brand</th>
      <th>Type</th>
      <th>Image</th>
      <th>URL</th>
      <th>Tags</th>
      <th>Compatible Products</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @products.each do |product| %>
      <tr class="<%= 'bg-green-50' if product.productable_type == 'Seat' %>
            <%= 'bg-blue-50' if product.productable_type == 'Stroller' %>
            <%= 'bg-yellow-50' if product.productable_type == 'Adapter' %> border-2 border-gray-200">
        <td><%= product.id %></td>
        <td><%= product.slug %></td>
        <td><%= product.name %></td>
        <td><%= product.brand.name %></td>
        <td><%= product.productable_type %></td>
        <td class="<%= product.image.present? ? 'text-green-500' : 'text-red-500' %>">
          <%= product.image.present? ? "✔" : "✘" %>
        </td>
        <td class="<%= product.url.present? ? 'text-green-500' : 'text-red-500' %>">
          <%= product.url.present? ? "✔" : "✘" %>
        </td>
        <td>
          <% product.tags.each do |tag| %>
            <p><%= tag.label %></p>
          <% end %>
        </td>
        <td>
          <% product.compatible_products_by_adapter.each do |adapter_slug, products| %>
            <p class="text-sm font-semibold text-gray-300">with: <%= adapter_slug %></p>
            <p class="text-md"><%= products.map { |p| p.product.name }.join(", ") %></p>
          <% end %>
        </td>
        <td class="flex">
          <%= button_to 'Edit', edit_admin_product_path(product), method: :get,
                        class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-1"
          %>
          <%= button_to 'Delete', admin_product_path(product),
                        method: :delete,
                        form: { data: { turbo: true, turbo_confirm: 'are you sure?', turbo_method: :delete } },
                        class: "bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mx-1"
          %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
  <div class="py-4">
    <%= render partial: 'shared/button', locals: { text: 'New Product', link: new_admin_product_path } %>
  </div>
</div>
