<div id="<%= dom_id brand %>">
  <p>
    <strong>Name:</strong>
    <%= brand.name.capitalize %>
  </p>

  <p>
    <strong>Website:</strong>
    <a href="<%= brand.website %>">link</a>
  </p>

  <div>
    <strong>Strollers:</strong>
    <% if brand.strollers.any? %>
    <ul>
      <% brand.strollers.each do |stroller| %>
        <li>
          <%= link_to stroller.name, controller: 'products', action: 'fits', slug: stroller.slug %>
        </li>
      <% end %>
    </ul>
  <% end %>
  </div>

  <div>
    <strong>Seats:</strong>
    <% if brand.seats.any? %>
    <ul>
      <% brand.seats.each do |seat| %>
        <li>
          <%= link_to seat.name, controller: 'products', action: 'fits', slug: seat.slug %>
        </li>
      <% end %>
    </ul>
    <% end %>
  </div>
</div>