<%= render layout: 'shared/card' do %>
  <%= link_to fits_product_path(product) do %>
    <%= render partial: 'products/image', locals: { product: product } %>
  <% end %>
  <div class="p-5">
    <%= link_to fits_product_path(product) do %>
      <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"><%= product.name %></h5>
    <% end %>
    <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">By <%= product.brand.name %></p>
    <%= render partial: 'shared/button', locals: { link: product.url, text: 'Go to Website' } %>
  </div>
<% end %>
