<%= render layout: 'shared/container' do %>
  <div class="min-w-64">
    <h1 class="text-center text-gray-700">Are they compatible?</h1>

    <% if @adapter.present? %>
      <%= render partial: 'shared/hero', locals: { title: 'Yes, these products are compatible!' } %>
    <% else %>
      <%= render partial: 'shared/hero', locals: { title: 'Sorry, they\'re not compatible.' } %>
    <% end %>

    <div class="mt-8 flex">
      <div class="p-8 w-full">
        <%= render partial: 'products/main', locals: { product: @product_a } %>
      </div>
      <div class="py-8 w-full flex flex-col items-center justify-between">
        <% if @adapter.present? %>
          <div class="w-1/2">
            <img src="<%= asset_path('check.svg') %>" alt="Check mark"/>
          </div>
          <% if @adapter.present? %>
            <div class="pt-4">
              <%= render partial: 'products/inline_card', locals: { product: @adapter } %>
            </div>
          <% else %>
            <div class="pt-4">
              <div class="inline-flex items-center p-4 bg-gray-50 rounded-full">
                <i class="fa-solid fa-plug-circle-xmark fa-xl"></i>
                <span class="ml-2">no adapter required</span>
              </div>
            </div>
          <% end %>
        <% else %>
          <div class="w-1/2">
            <img src="<%= asset_path('cross.svg') %>" alt="Cross mark"/>
          </div>
        <% end %>
        <div class="mt-8">
          <%= render partial: 'shared/subtitle', locals: { text: 'Search for other compatible products', center: true } %>
          <div class="flex justify-center mt-4">
            <%= render partial: 'shared/button', locals: { link: fits_product_url(@product_a.slug), text: 'Back', secondary: true } %>
          </div>
        </div>
      </div>
      <div class="p-8 w-full">
        <%= render partial: 'products/main', locals: { product: @product_b } %>
      </div>
    </div>

    <%= render partial: 'products/compatible_product_carousel', locals: { product: @product_a } %>
  </div>
<% end %>