<%= render layout: 'shared/container' do %>
  <div class="min-w-64">
    <%= render partial: 'shared/hero', locals: { title: 'Does it fit?' } %>

    <div class="mt-8 flex">
      <div class="p-8 w-full">
        <%= render partial: 'products/main', locals: { product: @product } %>
        <div class="mt-4 flex justify-center">
          <%= render partial: 'shared/button', locals: { text: 'Choose another product', link: products_path, secondary: true } %>
        </div>
      </div>
      <div class="p-8 w-full">
        <%= render partial: 'shared/subtitle', locals: { text: 'Search for a product to compare:' } %>
        <%= render SearchComparisonProduct::ShowComponent.new(searchUrl: url_for(controller: 'products', action: 'search'), product: @product, types: @search_types) %>
      </div>
    </div>

    <%= render partial: 'products/compatible_product_carousel', locals: { product: @product } %>
  </div>
<% end %>