<h1>Does it Fit?</h1>
<h2>
  <span><%= @product.brand.name.capitalize %> - <%= @product.name %></span>
</h2>
<p>
  type: <%= @product.productable_type.titleize %>
</p>
<p>
  <a href='<%= @product.link %>'>link</a>
</p>

<%= render SearchComparisonProduct::ShowComponent.new(searchUrl: url_for(controller: 'products', action: 'search_comparison'), product: @product) %>

<h2>Choose another item to see if it fits</h2>
<p>
  <label for="other_product_id">
    <%= select_tag 'other_product_id',
                   options_for_select(
                     @other_products.map { |product|
                       ["#{product.productable_type}: #{product.brand.name} - #{product.name}", "#{product.slug}"]
                     }, false),
                   onchange: "navigateToFitProduct(this.value)"
    %>
  </label>
</p>

<script>
    function navigateToFitProduct(slug) {
        window.location.href = `${window.location.href}/${slug}`;
    }
</script>
