<%= form_with url: import_admin_products_path, local: true, id: "form_#{id}", data: { id: id }, multipart: true do |form| %>
  <div class="flex flex-row">
    <div>
      <%= form.label :files, "CSV file" %>
      <%= form.file_field :files, id: "file_#{id}", multiple: true %>
    </div>
    <div>
      <%= form.submit "Import",
                      id: "submit_#{id}",
                      class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded disabled:opacity-50 disabled:cursor-not-allowed",
                      disabled: true,
                      data: { disable_with: "Importing..." }
      %>
    </div>

    <%= javascript_tag do %>
        document.addEventListener('turbo:load', function () {
            const fileInput = document.getElementById(`file_<%= id %>`);
            const submitButton = document.getElementById(`submit_<%= id %>`);

            if (!fileInput ||!submitButton) {
              return;
            }

            fileInput.addEventListener('change', function () {
                submitButton.disabled = !this.files.length;
            });
        });
    <% end %>
  </div>
<% end %>